@font-face {
    font-family: Playfair;
    src: url(../fonts/playfair/PlayfairDisplay-Regular.ttf);
}

body{
    background: url(../Image/MainBlur-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.supBackground{
    display: flex;
    color: white;
    align-items: center;
    font-weight: bolder;
    flex-direction: column;
    justify-content: center;
    font-size: xx-large;
    width: 100vw;
    min-height: 100vh;
    font-family: Playfair;
    text-transform: uppercase;
    text-shadow: 6px 5px 7px black;
}

button {
    background-color: rgba(0, 0, 0, 0.281);
    color: white;
    border: 1px solid white;
    cursor: pointer;
    height: 7vh;
    border-radius: 25px;
    font-size: medium;
    font-family: Playfair;
    margin: 2.5rem;
}

button:hover{
    transform: scale(1.1);
}

a{
    color: white;
    text-decoration: none;
}