/* BODY AND FONTS */

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Playfair, Arial, Helvetica, sans-serif;
    background-color: rgb(61, 61, 61);
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgb(61, 61, 61);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(192, 164, 128);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    /*border: 3px solid rgb(192, 164, 128);*/
    /* creates padding around scroll thumb */
}

@font-face {
    font-family: Playfair;
    src: url(../fonts/playfair/PlayfairDisplay-Regular.ttf);
}

/* NAV HEADER */

header{   
    display: flex;
    align-items: center;
    min-height: 4rem;
    max-height: 4rem;
    position: relative;
    z-index: 3;
}
nav{
    background-color: rgb(48, 48, 48);
    width: 100%;
    min-height: 4rem;
    max-height: 4rem;
    text-align: center;
    position: fixed;
}
ul{
    min-height: 4rem;
    max-height: 4rem;
    margin: 0;
    display: flex;
    padding: 0;
}

li{
    background: transparent;
    list-style-type: none;
    flex-basis: 100%;
    line-height: 4rem;
    font-family: sans-serif;
    min-height: 4rem;
    max-height: 4rem;
    align-content: center;
}

li a{
    padding: 1.35rem;
    color: white;
    font-weight: bolder;
    width: 100%;
    height: 100%;
    font-size: larger;
    text-decoration: none;
}

li.navButton a:hover{
    background-color: rgb(192, 164, 128);
    color: black;
}

li img{
    margin-top: 1rem;
    height: 100%;
    scale: 2.2;
    min-height: 18px;
    max-height: 30px;
}

/* IMG TOP */

aside.fondo-bienvenida{
    height: 45vh;
    width: 100%;
    background-image: url(/Image/topMain.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center; 
}

div.title{
    text-align: center;
    border: 5px solid white;
    padding: 2rem 1rem;
    color: white;
    font-weight: bolder;
    flex-direction: column;
    font-size: 23px;
    text-transform: uppercase;
    text-shadow: 6px 5px 7px black;
    box-shadow: 0 0 25px #222222;
    backdrop-filter: blur(0.3rem);
}

/* PRODUCTOS */

.producto{
    border-radius: 65px;
    transition: 0.4s;
}

section.seleccion-productos{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-columns: auto;
    max-width: 1470px;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    gap: 5rem;
    color: white;
    
}

.producto .image-producto img{
    width: 28rem;
    height: 20rem;
    border-radius: 10%;
    object-fit: cover;
}

.descripcion-producto h2{
    text-decoration: underline;
}

.descripcion-producto, .precio-producto{
    padding: 20px;
    margin: 1rem;
    font-size: x-large;
    text-align: justify;
}

.producto:hover{
    transform: scale(1.05);
    -webkit-transition: all .4s;
    transition: all .4s;
    -webkit-box-shadow: 20px -16px 67px 17px rgba(0,0,0,0.75);
    -moz-box-shadow: 20px -16px 67px 17px rgba(0,0,0,0.75);
    box-shadow: 20px -16px 67px 17px rgba(0,0,0,0.75);
}

/* FOOTER */

footer{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

footer .footer-info{
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    width: 100%;
    font-size: 3rem;
    color: white;
    font-weight: bold;
}

footer div.footer-wrapper{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

footer div.footer-wrapper ul{
    display: flex;
    text-align: center;
}

footer div.footer-wrapper ul li{
    flex: 1 1 auto;
}
